*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    background-color:grey;
    background-repeat: no-repeat;
    background-size:cover;
}
header{
    height: auto;
    width: 100%;
    background-color: white;
    background-position:center;
    background-size:cover;
    position: relative;

}
nav{
   background-color:grey;
   padding:35px;
   
}
nav {
    display: inline-block;
}
img{
     display:inline;
    height: 300px;
    width: 300px;
	border-radius:30px;
}
nav { 
    display: flex;
    padding: 15px;
    justify-content: space-between;
    
}
a{
color:red;
}
.Img{
display:inline;
}